.form-select{
    border-radius: 0.5rem !important;
    margin-block: 0.3125rem;
   font-size: 18px !important;
   font-weight: 600 !important;
   letter-spacing: 0.54px !important;
    height: 3.125rem !important;
    background-color: #F0F0F0 !important;
    border: none !important;
    padding-left: 17px !important;
    &:hover {
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.10) !important;
      }
      &:focus-within {
        border: 1px solid #8E8E8E;
        background: #F0F0F0;
        outline: solid #8E8E8E !important;
        outline-style: auto !important;
    
        i {
          color: #8E8E8E;
        }
      }
}