// --- Font-Family (ff)
$ff-primary: 'Poppins';
// COLORS (clr)
// Universal



// Primary Colours
$clr-primary-100: #18A0FB;
$clr-primary-200: #36BFFA;
$clr-primary-300: #5CC8FF;
$clr-primary-400: #7CD4FD;
$clr-primary-500: #B9E6FE;
$clr-primary-600:#007BFF;

//Indicators
$clr-indicators-red-100:#F4664D;
$clr-indicators-yellow-200:#FFC700;
$clr-indicators-green-300:#1DB949;


//Secondary Colours

$clr-secondary-100: #111010;
$clr-secondary-200:#2D2D2A;
$clr-secondary-300: #8E8E8E;
$clr-secondary-400: #EDEDE9;
$clr-secondary-500: #F9F9F9;
$clr-secondary-600:#FFFFFF;

//Greyscale

$clr-greyscale-100: #111010;
$clr-greyscale-200:#2D2D2A;
$clr-greyscale-300:#646463;
$clr-greyscale-400:#8E8E8E;
$clr-greyscale-500:#D3D3D3;
$clr-greyscale-600:#E6E6E6;
$clr-greyscale-700:#F0F0F0;
$clr-greyscale-800:#F9F9F9;
$clr-greyscale-900:#F5F5F5;
$clr-greyscale-950:#D9D9D9;

//Pink/error

$clr-pink-100: #FF5859;
$clr-pink-200: #FF6362;
$clr-pink-300: #FF7875;
$clr-pink-400: #FFA8A4;
$clr-pink-500: #FFCCC7;

//Olive/success
$clr-success-100: #2F3E46;
$clr-success-200: #354F52;
$clr-success-300: #52796F;
$clr-success-400: #84A98C;
$clr-success-500: #CAD2C5;

//Orange/warning
$clr-warning-100: #F79009;
$clr-warning-200: #FDB022;
$clr-warning-300: #FEC84B;
$clr-warning-400: #FEDF89;
$clr-warning-500: #FEF0C7;

//Saffron/alert
$clr-alert-100: #FB6514;
$clr-alert-200: #FD853A;
$clr-alert-300: #FEB273;
$clr-alert-400: #FDDCAB;
$clr-alert-500: #FFEAD5;


//Lavender
$clr-lavender-100: #735D78;
$clr-lavender-200: #B392AC;
$clr-lavender-300: #D1B3C4;
$clr-lavender-400: #E8C2CA;
$clr-lavender-500: #F7D1CD;


//Purple
$clr-purple-100: #7F56D9;
$clr-purple-200: #9E77ED;
$clr-purple-300: #9E77ED;
$clr-purple-400: #9E77ED;
$clr-purple-500: #9E77ED;

//Indigo
$clr-indigo-100: #4E5BA6;
$clr-indigo-200: #717BBC;
$clr-indigo-300: #9EA5D1;
$clr-indigo-400: #C8CCE5;
$clr-indigo-500: #EAECF5;

//Blue
$clr-blue-100: #03045E;
$clr-blue-200: #0077B6;
$clr-blue-300: #00B4D8;
$clr-blue-400: #90E0EF;
$clr-blue-500: #CAF0F8;

//Brown
$clr-brown-100: #7F5539;
$clr-brown-200: #9C6644;
$clr-brown-300: #B08968;
$clr-brown-400: #BC8A5F;
$clr-brown-500: #DDB892;
$clr-brown-600: #FFEDD8;
$clr-brown-700: #F3D5B5;
$clr-brown-800: #E7BC91;
$clr-brown-900: #D4A276;
$clr-brown-950: #E6CCB2;


